bindAddr = "0.0.0.0"
bindPort = 7000
proxyBindAddr = "0.0.0.0"
vhostHTTPPort = 8080
detailedErrorsToClient = false
__L4_ALLOW_PORTS__

transport.tls.force = true
transport.tls.certFile = "/run/secrets/frps_tls_cert"
transport.tls.keyFile = "/run/secrets/frps_tls_key"
transport.heartbeatTimeout = 90
transport.maxPoolCount = 10
transport.tcpKeepalive = 7200

[[httpPlugins]]
name = "home-tunnel-authorization"
addr = "control-center:8080"
path = "/internal/frps/plugin/__PLUGIN_TOKEN__"
ops = ["Login", "NewProxy", "CloseProxy", "Ping"]
